@model IEnumerable<crimson_closet.Models.CartItem>

@{
    ViewData["Title"] = "CustomerCart";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container">
        <h1>Cart</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="CartItem" asp-action="CustomerCloset">Closet</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<div class="container">
    <table class="table cart mb-5">
        <thead>
            <tr>
                <th class="cart-product-remove">&nbsp;</th>
                <th class="cart-product-thumbnail">&nbsp;</th>
                <th class="cart-product-name">Brand</th>
                <th class="cart-product-name">Type</th>
                <th class="cart-product-name">Color</th>
                <th class="cart-product-name">Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var parms = new Dictionary<string, string>();
                parms.Add("CartItemId", item.Id.ToString());

                <tr class="cart_item">
                    <td class="cart-product-remove">
                        <form asp-action="Delete" style="margin:auto;">
                            <button asp-controller="CartItem" asp-action="Delete" asp-all-route-data="parms" type="submit" class="no-input-style h-100 w-100 d-block">
                                <i class="icon-trash2 remove text-center">
                                </i>
                            </button>
                        </form>
                    </td>

                    <td class="cart-product-thumbnail">
                        @if (item.Item.ItemPhoto != null)
                        {
                            var base64 = Convert.ToBase64String(item.Item.ItemPhoto);
                            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                            <img src="@imgSrc" width="100" height="100" />

                            //<img width="100" height="100" src="@Url.Action("GetActorPhoto", "Actors", new {item.ActorId})" />
                        }
                        else
                        {
                            <img src="~/images/logo.png" class="card-image" alt="">

                        }
                    </td>

                    <td class="cart-product-name">
                        <a href="#">@Html.DisplayFor(modelItem => item.Item.ItemBrand)</a>
                    </td>

                    <td class="cart-product-name">
                        <a href="#">@Html.DisplayFor(modelItem => item.Item.ItemType.ItemDescription)</a>
                    </td>

                    <td class="cart-product-name">
                        <span class="amount">@Html.DisplayFor(modelItem => item.Item.ItemColor)</span>
                    </td>

                    <td class="cart-product-name">
                        <span class="amount">@Html.DisplayFor(modelItem => item.Item.ItemSize)</span>
                    </td>


                </tr>
            }

            <tr class="cart_item">
                <td colspan="6">
                    <div class="row justify-content-between py-2 col-mb-30">
                        <div class="col-lg-auto ps-lg-0">
                        </div>
                        <div class="col-lg-auto pe-lg-0">
                            <a class="button button-3d m-0 bg-alt" asp-controller="Items" asp-action="Index">Keep Shopping</a>
                            <a href="#myModal1" data-lightbox="inline" class="button button-3d mt-2 mt-sm-0 me-0">Checkout</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<!-- Modal -->

<div class="modal1 mfp-hide" id="myModal1">
    <div class="block mx-auto" style="background-color: #FFF; max-width: 500px;">
        <div class="center" style="padding: 50px;">
            <h3>Are you sure you want to checkout?</h3>
            <p class="mb-0">An order will be submitted once you press "Yes, Checkout!"</p>
        </div>
        <div class="section center m-0" style="padding: 30px;">
            <a class="button bg-alt" onClick="$.magnificPopup.close();return false;">Return</a>
            <a asp-controller="Home" asp-action="Index" class="button">Yes, Checkout!</a>
        </div>
    </div>
</div>