@model IEnumerable<crimson_closet.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUA.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //sets the parameters
            var parms = new Dictionary<string, string>();
            parms.Add("CartId", item.Id.ToString());
            ;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName ) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExpiredDate)
                </td>
                <td>
                    <form asp-action="Delete">
                        <input asp-controller="Cart" asp-action="Delete" asp-all-route-data="parms" type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
