@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutUA";
}

<div class="row mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <section class="w-100 mw-login-form">
                <form id="account" method="post">
                    <h2 class="text-center">Sign In With A Local Account</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="custom-ua-summary-error-message"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username" class="form-label">Username <span class="required-asterisk">*</span></label>
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                        <span asp-validation-for="Input.Username" class="font-weight-bold"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Input.Password">Password <span class="required-asterisk">*</span></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="font-weight-bold"></span>
                    </div>
                    <div class="row mt-3">
                        <div class="checkbox col-6">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn btn-crimson w-100">Log in</button>
                    </div>

                </form>
            </section>
        </div>
    <div class="col-md-12 col-md-offset-2 d-flex justify-content-center">
        <section>
            <h3>Or Sign in with Microsoft</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-crimson w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <img src="~/img/microsoft-logo.png" class="provider-logo"/>
                                        @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/loginPage.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}