@model crimson_closet.Models.OrderItemized

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderItemized</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.ItemId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustOrder.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
