@model Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUA.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Code
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemStatus)
        </dd>
        <dt>
            Brand
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemBrand)
        </dd>
        <dt>
            Size
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemSize)
        </dd>
        <dt>
            Color
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemColor)
        </dd>
        <dt>
            Photo
        </dt>
        <dd>
            @if (Model.ItemPhoto != null)
            {
                var base64 = Convert.ToBase64String(Model.ItemPhoto);
                var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgSrc" height="100" width="100" style="border-radius:50%" />

                //<img width="100" height="100" src="@Url.Action("GetActorPhoto", "Actors", new {item.ActorId})" />
            }
        </dd>
        <dt>
            Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemType.ItemDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
