@model IEnumerable<ItemType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUA.cshtml";
}
<div class="container">


    <h2>Item Types</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table make-jquery-table table-hover table-striped dt-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ItemTypeID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ItemTypeID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ItemTypeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
